:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
  
    --white: white;
    --dark: #303030;
    --dark-grey: #4f4f4f;
    --light-grey: #f5f5f5;
    --deep-blue: #0058ff;
    --base-blue: #0087f8;
    --light-blue: #81c9ff;
    --green-correct: #33995f;
    --red_incorrect: #ff0000;
}

h2 {
    font-size: 1.3rem;
    margin-inline-end: auto;
}

.filters {
    padding: 12px 36px;
    background-color: rgba(95, 158, 160, .2);
    width: 80%;
    display: flex;
    justify-content: flex-end;
    gap: 50px;
}

.filter {
    position: relative;
}

.active-filter {
    position: relative;
    cursor: pointer;
}

.active-filter.active::after {
    content: '*';
    position: absolute;
    top: -3px;
    font-weight: 700;
    color: var(--base-blue);
}
.active-filter.active::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 110%;
    text-align: end;
    border-bottom: 2px solid var(--base-blue);
}

.dropdown {
    position: absolute;
    top: 110%;
    right: -10px;
    width: max-content;
    padding: 6px;
    border-radius: 4px;
    box-shadow: 0 0 3px var(--dark-grey);
    background-color: var(--light-grey);
}

.dropdown p {
    border-radius: 4px;
    padding: 4px 10px;
    cursor: pointer;
}

.dropdown p:hover {
    background-color: var(--light-blue);
}

.dropdown p.selected {
    border: 1px solid var(--deep-blue);
}

.filter-button {
    padding: 4px 12px;
    border-radius: 4px;
    background-color: var(--light-blue);
    cursor: pointer;
}

.filter-button:hover {
    background-color: var(--base-blue);
    color: var(--white);
}

.filter-button:active {
    background-color: var(--deep-blue);
}