:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
  
    --white: white;
    --dark: #303030;
    --dark-grey: #4f4f4f;
    --light-grey: #f5f5f5;
    --deep-blue: #0058ff;
    --base-blue: #0087f8;
    --light-blue: #81c9ff;
}

.form-container {
    border: 3px solid var(--dark-grey);
    border-radius: 4px;
    box-shadow: 2px 2px 5px var(--light-blue);
    padding: 24px 36px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h2 {
    font-size: 1.6rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    display: flex;
    flex-direction: column;
}

label input {
    border: 1px solid var(--light-blue);
    border-radius: 4px;
    padding: 4px 8px;
}

label input:focus {
    outline: 1px solid var(--deep-blue);
}

input[type="submit"] {
    padding: 8px 24px;
    border-radius: 4px;
    background-color: var(--base-blue);
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: var(--deep-blue);
    color: var(--white);
}

p > a {
    font-weight: 600;
    color: var(--base-blue);
}
