:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;

  --white: white;
  --dark: #303030;
  --dark-grey: #4f4f4f;
  --light-grey: #f5f5f5;
  --deep-blue: #0058ff;
  --base-blue: #0087f8;
  --light-blue: #81c9ff;
  --green-correct: #33995f;
  --red_incorrect: #ff0000;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 60px;
  background-color: var(--light-grey);
}

/* NAVBAR */
.navbar {
  height: 100px;
  padding: 0 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--dark);
  color: var(--white);
}

.logo span {
  font-weight: 600;
  color: var(--deep-blue);
}

.navigation {
  display: flex;
  align-items: center;
  gap: 20px;
  text-transform: uppercase;
}

.navigation li {
  transition: color .2s;
}

.navigation li:hover:not(.profile) {
  color: var(--deep-blue);
}

.profile {
  position: relative;
  width: 35px;
  height: 35px;
  padding: 7px;
  border: 1px solid var(--light-grey);
  border-radius: 50%;
  background-color: var(--base-blue);
  text-align: center;
  cursor: pointer;
}

.profile-dropdown {
  width: max-content;
  position: absolute;
  top: calc(100% + 10px);
  right: 5%;
  padding: 4px;
  background-color: var(--light-grey);
  box-shadow: 0 0 5px var(--light-blue);
  border-radius: 8px;
}

.dropdown-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 6px;
  text-transform: none;
  color: var(--dark);
}

.dropdown-content a {
  border-radius: 4px;
  padding: 4px 14px;
  width: 100%;
  display: flex;
  gap: 8px;
}

.dropdown-content a > img {
  max-height: 20px;
  max-width: 20px;
}

.dropdown-content a:hover {
  background-color: var(--light-blue);
}


/* QUESTION LIST */
.questionList {
  margin-inline: auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.questionPrompt {
  cursor: pointer;
}

.questionPrompt:hover {
  color: var(--base-blue);
}


/* QUESTION DETAIL / CUSTOM QUESTION */
.questionDetail {
  margin-inline: auto;
  width: 80%;
  padding: 12px 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  background-color: var(--white);
  box-shadow: 0 0 5px var(--deep-blue);
  border-radius: 8px;
}

.title {
  font-size: 1.5rem;
}

.questionDetail>* {
  width: 100%;
}

.input {
  width: 100%;
  padding: 6px 12px;
  border: 1px solid var(--light-grey);
  border-radius: 4px;
}

.questionInput {
  min-height: 180px;
}

.questionInput:focus {
  outline: 1px solid var(--dark);
}

.new-answer {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.answerInput {
  width: 100%;
  resize: none;
  overflow: hidden;
}

.answerInput:focus {
  outline: 1px solid var(--dark-grey);
}

.new-answer button {
  border: 1px solid var(--light-blue);
  height: 35px;
  width: 35px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.5rem;
}

.new-answer button:hover {
  border: 1px solid var(--base-blue);
  background-color: var(--light-blue);
  color: var(--white);
}

.questionAnswer {
  width: 90%;
  font-style: italic;
  cursor: pointer;
  border: 1px solid var(--dark-grey);
  border-radius: 8px;
  padding: 6px 10px;
  margin: 5px 0;
  margin-inline: auto;
  text-align: start;
}

.questionAnswer:hover {
  box-shadow: 0 0 4px var(--base-blue);
}

.questionAnswer.selected {
  border: 1px solid var(--base-blue);
  box-shadow: 0 0 4px var(--base-blue);
}

.questionAnswer.incorrect {
  border: 1px solid var(--red_incorrect);
  box-shadow: 0 0 4px var(--red_incorrect);
}

.questionAnswer.correct {
  border: 1px solid var(--green-correct);
  box-shadow: 0 0 4px var(--green-correct);
}

.questionNavigate {
  margin-top: 15px;
  padding: 15px 10px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--dark);
  color: var(--dark-grey);
  font-weight: 600;
}

.questionNavigate button {
  padding: 8px 14px;
  border: 1px solid var(--light-blue);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color .2s, color .2s;
}

.questionNavigate button:hover {
  background-color: var(--light-blue);
  color: var(--base-blue);
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.buttons button {
  padding: 12px 28px;
  border-radius: 8px;
  background-color: var(--base-blue);
  font-weight: 500;
  color: var(--dark);
  cursor: pointer;
  transition: background-color .2s;
}

.buttons button:hover {
  background-color: var(--deep-blue);
}

.subtitle {
  font-size: 1.2rem;
  font-weight: 600;
}

.ai-answer {
  white-space: pre-wrap;
}


/* TOAST */
.toast {
  position: absolute;
  top: -5px;
  left: 0;
  width: 100%;
  transform: translateY(-100%);
  transition: transform .15s ease-in;
}

.toast.active {
  transform: translateY(30px);
  transition: transform .15s ease-out;
}

.toast p {
  margin-inline: auto;
  padding: 10px 24px;
  width: max-content;
  border: 1px solid var(--deep-blue);
  box-shadow: 0 0 5px var(--deep-blue);
  border-radius: 8px;
  text-align: center;
  background-color: var(--white);
  color: var(--dark);
}


/* NOTFOUND */
.notfound {
  margin-inline: auto;
  font-size: 1.3rem;
}